{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}

<div class="col-10 mt-4"></div>
<center>
    <h1>Waste Segregation</h1>
    <div class="mt-4 mb-4">
        <h3>
            <mark>Upload Waste Image</mark>
        </h3>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id=files name="image"><br>
        <output id="list"></output>

        <div class="mt-4">
            <h4>OR select from sample images</h4>
        </div>
        <div class="row">
            <div class="col-md-3 mt-5">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2a" name="ck2" value="glass.jpg">
                    <label class="custom-control-label" for="ck2a">
                        <img src="{% static 'waste_sample/glass.jpg' %}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2b" name="ck2" value="metal.jpg">
                    <label class="custom-control-label" for="ck2b">
                        <img src="{% static 'waste_sample/metal.jpg' %}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2c" name="ck2" value="paper.jpg">
                    <label class="custom-control-label" for="ck2c">
                        <img src="{% static 'waste_sample/paper.jpg' %}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2d" name="ck2" value="plastic.jpg">
                    <label class="custom-control-label" for="ck2d">
                        <img src="{% static 'waste_sample/plastic.jpg' %}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>
            <center>
                <div class="input-group mb-3">
                    <div class="input-group-prepend ml-5 mt-4">
                        <input class="btn btn-primary" type="submit" value="Submit Image">
                    </div>
                </div>
            </center>
        </div>
    </form>
    {% if flag == True and show == False %}
    <h1>{{category}}</h1>
    <h1>{{predicted_class}}</h1>
    <h1>{{probability}}</h1>
    <h3>If you found prediction incorrect, Kindly tell us the correct answer and contribute to our data set</h3>
    <div class="text-left ml-5">
        <form action="answer/{{fetched_waste.id}}" method="post">
            {% csrf_token %}
            <input type="radio" name="answer" value="Cardboard "> Cardboard <br>
            <input type="radio" name="answer" value="Glass "> Glass <br>
            <input type="radio" name="answer" value="Metal "> Metal <br>
            <input type="radio" name="answer" value="Paper "> Paper <br>
            <input type="radio" name="answer" value="Plastic "> Plastic <br>
            <br><input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    {% elif flag == True and show == True %}
    <h1>{{category}}</h1>
    <h1>{{predicted_class}}</h1>
    <h1>{{probability}}</h1>
    {% endif %}
</center>
<a href="http://127.0.0.1:8000/about#wasteSegregation"> Read More </a>

{% endblock %}