<footer class="container py-5">
    <div class="row">
        <div>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"
                 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#231F20;stroke-width:4.2271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#91A23A;stroke:#92A23A;stroke-width:4.2271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
                <g>
	<g>
		<path class="st0"
              d="M53.22,85.1C58.57,73,70.11,64.67,83.27,63.4l5.03-31.15c-30.22-0.69-57.38,18.92-66.23,47.82L53.22,85.1z"/>
        <path class="st0" d="M71.94,133.62c-12.09-5.35-20.43-16.89-21.7-30.05l-31.15-5.03c-0.69,30.22,18.92,57.38,47.82,66.23
			L71.94,133.62z"/>
        <path class="st0" d="M120.47,114.9c-5.35,12.09-16.89,20.43-30.05,21.7l-5.03,31.15c30.22,0.69,57.38-18.92,66.23-47.82
			L120.47,114.9z"/>
	</g>
                    <path class="st1" d="M180.93,33.52l-75.21,0l-0.01,0l-5.43,33.65l0.93,0.41c11.68,5.17,19.69,16.27,20.92,28.98l0.1,1.01
		l33.65,5.43l0,0l0,0L180.93,33.52z"/>
</g>
</svg>
            <small class="d-block mb-3 text-muted">&copy; AAPNA Infotech</small>
            <br>
             <small class="d-block mb-3 text-muted">Application under construction.</small>
        </div>
        <div class="col-12 col-md">

        </div >

        <small class="d-block mb-3 text-muted"> Developed by Vasant Vohra & Pranay Gupta</small>
    </div>
</footer>